mixin bottomHeader()
  .collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.pop-search(href='#!')
          i.feather.icon-search
        .search-bar
          input.form-control.border-0.shadow-none(type='text' placeholder='Search hear')
          button.close(type='button' aria-label='Close')
            span(aria-hidden='true') &times;
    ul.navbar-nav.ml-auto
      li
        .dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            i.icon.feather.icon-bell
          .dropdown-menu.dropdown-menu-right.notification
            .noti-head
              h6.d-inline-block.m-b-0 Notifications
              .float-right
                a.m-r-10(href='#!') mark as read
                a(href='#!') clear all
            ul.noti-body
              li.n-title
                p.m-b-0 NEW
              li.notification
                .media
                  img.img-radius(src='/images/user/avatar-1.jpg' alt='Generic placeholder image')
                  .media-body
                    p
                      strong John Doe
                      span.n-time.text-muted
                        i.icon.feather.icon-clock.m-r-10
                        | 5 min
                    p New ticket Added
              li.n-title
                p.m-b-0 EARLIER
              li.notification
                .media
                  img.img-radius(src='/images/user/avatar-2.jpg' alt='Generic placeholder image')
                  .media-body
                    p
                      strong Joseph William
                      span.n-time.text-muted
                        i.icon.feather.icon-clock.m-r-10
                        | 10 min
                    p Prchace New Theme and make payment
              li.notification
                .media
                  img.img-radius(src='/images/user/avatar-1.jpg' alt='Generic placeholder image')
                  .media-body
                    p
                      strong Sara Soudein
                      span.n-time.text-muted
                        i.icon.feather.icon-clock.m-r-10
                        | 12 min
                    p currently login
              li.notification
                .media
                  img.img-radius(src='/images/user/avatar-2.jpg' alt='Generic placeholder image')
                  .media-body
                    p
                      strong Joseph William
                      span.n-time.text-muted
                        i.icon.feather.icon-clock.m-r-10
                        | 30 min
                    p Prchace New Theme and make payment
            .noti-footer
              a(href='#!') show all
      li
        .dropdown.drp-user
          a.dropdown-toggle(href='#' data-toggle='dropdown')
            i.feather.icon-user
          .dropdown-menu.dropdown-menu-right.profile-notification
            .pro-head
              img.img-radius(src='/images/user/avatar-1.jpg' alt='User-Profile-Image')
              span John Doe
              a.dud-logout(href='auth-signin.html' title='Logout')
                i.feather.icon-log-out
            ul.pro-body
              li
                a.dropdown-item(href='user-profile.html')
                  i.feather.icon-user
                  |  Profile
              li
                a.dropdown-item(href='email_inbox.html')
                  i.feather.icon-mail
                  |  My Messages
              li
                a.dropdown-item(href='auth-signin.html')
                  i.feather.icon-lock
                  |  Lock Screen
