mixin navbar(proyectos = [])
  nav.pcoded-navbar.menu-light
    .navbar-wrapper
      .navbar-content.scroll-div
        div
          .main-menu-header.my-3
            img.img-radius(src='/images/user/avatar-2.jpg' alt='User-Profile-Image')
            .user-details
              #more-details
                | Ejecutivo de negocios 
                br
                span Asociacion Popular
          #nav-user-link.collapse
            ul.list-unstyled
              li.list-group-item
                a(href='user-profile.html')
                  i.feather.icon-user.m-r-5
                  | View Profile
              li.list-group-item
                a(href='#!')
                  i.feather.icon-settings.m-r-5
                  | Settings
              li.list-group-item
                a(href='auth-normal-sign-in.html')
                  i.feather.icon-log-out.m-r-5
                  | Logout
        ul.nav.pcoded-inner-navbar
          li.nav-item.pcoded-menu-caption
            label Menú
          li.nav-item
            a.nav-link(href='/')
              span.pcoded-micon
                i.feather.icon-home
              span.pcoded-mtext Inicio
          li.nav-item.pcoded-menu-caption
            label.text-capitalize Proyectos
          if (proyectos.length > 0)
            li.nav-item.pcoded-hasmenu
              a.nav-link(href='#!')
                span.pcoded-micon
                  i.feather.icon-folder
                span.pcoded-mtext Mis proyectos
              ul.pcoded-submenu
                each proyecto in proyectos
                  li
                    a(href=`/proyecto/${proyecto.url}`)= proyecto.nombre
            li.nav-item
              a.nav-link(href="/nuevo-proyecto") 
                span.pcoded-micon
                  i.feather.icon-plus
                span.pcoded-mtext Agregar un proyecto
          else  
            .card.text-center
              .card-block
                button.close(type='button' data-dismiss='alert' aria-hidden='true') &times;
                i.feather.icon-briefcase.f-40
                h6.mt-3 Sin proyectos
                p Empieza creando un proyecto personal
                a.btn.btn-primary.btn-sm.text-white.m-0(href='/nuevo-proyecto') Crear proyecto

    
