mixin topHeader()
  .m-header
    a#mobile-collapse.mobile-menu(href='#!')
      span
    a.b-brand(href='#!')
      // ========   change your logo hear   ============
      img.logo(src='/images/altiva.png' alt='')
      img.logo-thumb(src='/images/logo-icon.png' alt='')
    a.mob-toggler(href='#!')
      i.feather.icon-more-vertical