extends ./layout

block body

  h5.text-capitalize= props.title

  pre.mt-3= var_dump(props.proyecto)

  .container
    .row
      .col-md-8
        a.btn.btn-success.has-ripple(href=`/proyecto/editar/${props.proyecto.id}`) Actualizar
          span.ripple.ripple-animate(style="height: 109.828px; width: 109.828px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -36.281px; left: 9.094px;")
        button.btn.btn-danger.has-ripple.mx-3#eliminar-proyecto(data-proyecto-url=props.proyecto.url type="button") Eliminar
          span.ripple.ripple-animate(style="height: 109.828px; width: 109.828px; animation-duration: 0.7s; animation-timing-function: linear; background: rgb(255, 255, 255); opacity: 0.4; top: -36.281px; left: 9.094px;")